@charset "Shift_JIS";
/* CSS Document */

/*-----------------------------------------------------------------------------
�@account_order_myacount_area
-----------------------------------------------------------------------------*/

#account_order_myacount_area p {
  padding: 12px;
  font-size: 14px;
}
#account_order_myacount_area h3:nth-child(2) {
  padding: 12px 12px 12px 12px;
  font-weight: bold;
  border-bottom: 2px solid red;
  font-size: 14px;
}
/* #account_order_myacount_area .tit{display: flex;margin: 15px 14px;font-size: 14px;align-items: center;justify-content: space-between;padding: 15px 0px;} */
/* #account_order_myacount_area .tit p{font-size: 14px;padding: 0px;} */

#account_order_myacount_area .sec01 {
  margin-bottom: 12px;
}
#account_order_myacount_area .sec02 .box01,
.box02,
.box03 {
  padding: 12px;
}
#account_order_myacount_area .sec02 .box01 .order-card,
.box02 .order-card,
.box03 .order-card {
  border: 1px solid #b8b5b5;
  border-radius: 5px;
  overflow: hidden;
  margin: auto;
}

#account_order_myacount_area .sec02 .box01 .order-card .order-header,
.box02 .order-card .order-header,
.box03 .order-card .order-header {
  background-color: #eeeeee;
  padding: 1px;
  /* border-bottom: 1px solid #e0e0e0; */
}

#account_order_myacount_area
  .sec02
  .box01
  .order-card
  .order-header
  p:nth-child(1),
.box02 .order-card .order-header p:nth-child(1),
.box03 .order-card .order-header p:nth-child(1) {
  margin: 0;
  padding-bottom: 0px !important;
  font-size: 19px !important;
}

#account_order_myacount_area
  .sec02
  .box01
  .order-card
  .order-header
  p:nth-child(2),
.box02 .order-card .order-header p:nth-child(2),
.box03 .order-card .order-header p:nth-child(2) {
  color: #666;
}

#account_order_myacount_area .sec02 .box01 .order-card .order-status,
.box02 .order-card .order-status,
.box03 .order-card .order-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #bdb8b8;
}
#account_order_myacount_area .sec02 .box03 .order-card .delivery-status {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #bdb8b8;
}

#account_order_myacount_area .sec02 .box01 .order-card .order-status span,
.box02 .order-card .order-status span,
.box03 .order-card .order-status span,
.box03 .order-card .delivery-status span {
  font-size: 14px;
  color: #666;
  align-self: flex-start;
}

#account_order_myacount_area
  .sec02
  .box01
  .order-card
  .order-status
  .status-btn,
.box02 .order-card .order-status .status-btn,
.box03 .order-card .order-status .status-btn {
  background-color: #9a9a9a;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

#account_order_myacount_area
  .sec02 .box03 .order-card .order-status .status-btn{background-color: #C1FACF;color: #ff4549;}
#account_order_myacount_area
  .sec02
  .box03
  .order-card
  .delivery-status
  .status-btn {
  cursor: pointer;
  background-color: #eeeeee;
  padding: 8px 90px;
  color: #47afff;
  border-radius: 25px;
  align-self: end;
  font-size: 14px;
}
#account_order_myacount_area
  .sec02
  .box02
  .order-card
  .order-status
  .status-btn {
  background-color: #fdf995;
  color: #ff4549;
}

#account_order_myacount_area .sec02 .box01 .order-card .cart_contents,
.box02 .order-card .cart_contents,
.box03 .order-card .cart_contents {
  border: none;
  display: flex;
}

#account_order_myacount_area .sec02 .box03 .order-card .cart_contents{justify-content: space-between;}
#account_order_myacount_area
  .sec02
  .box01
  .order-card
  .cart_contents
  .cart_item_img,
.box02 .order-card .cart_contents .cart_item_img,
.box03 .order-card .cart_contents .cart_item_img {
  flex: none;
}
#account_order_myacount_area
  .sec02
  .box01
  .order-card
  .cart_contents
  .cart_item_img
  img,
.box02 .order-card .cart_contents .cart_item_img img,
.box03 .order-card .cart_contents .cart_item_img img {
  border: none;
  width: 75px;
  height: 75px;
}


#account_order_myacount_area
  .sec02
  .box01
  .order-card
  .cart_contents
  .cart_item_txt
  p,
.box02 .order-card .cart_contents .cart_item_txt p,
.box03 .order-card .cart_contents .cart_item_txt p {
  padding-bottom: 0px !important;
}

#account_order_myacount_area
  .sec02
  .box03
  .order-card
  .cart_contents
  .cart_item_txt
  .order-btn {
  display: flex;
  margin: 12px;
  gap: 10px;
}
#account_order_myacount_area
  .sec02
  .box03
  .order-card
  .cart_contents
  .cart_item_txt
  .order-btn
  button {
  display: flex;
  border: 1px solid #ff4549;
  color: #ff4549;
  gap: 5px;
  cursor: pointer;
  padding: 5px 12px;
  border-radius: 25px;
  justify-content: start;
  align-items: center;
}

#account_order_myacount_area
  .sec02
  .box03
  .order-card
  .cart_contents
  .cart_item_txt
  .order-btn
  .pay-btn{width: 140px;}
#account_order_myacount_area
  .sec02
  .box03
  .order-card
  .cart_contents
  .cart_item_txt
  .order-btn
  button
  img {
  width: 20px;
}

#account_order_myacount_area .sec02 .box01 .order-card ul li,
.box02 .order-card ul li,
.box03 .order-card ul li {
  border-bottom: 1px solid rgb(209, 195, 195);
}

#account_order_myacount_area .sec02 .box01 .order-card .footer,
.box02 .order-card .footer,
.box03 .order-card .footer {
  /* padding: 12px; */
  /* border-top: 1px solid #e0e0e0; */
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
}

#account_order_myacount_area .sec02 .box01 .order-card .footer a,
.box02 .order-card .footer a,
.box03 .order-card .footer a {
  text-decoration: none;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
#account_order_myacount_area .sec02 .box01 .order-card .footer a:nth-child(1),
.box02 .order-card .footer a:nth-child(1),
.box03 .order-card .footer a:nth-child(1) {
  border-bottom: 1px solid rgb(209, 195, 195);
}

#account_order_myacount_area .pagination {
  display: flex;
  gap: 5px;
  justify-content: end;
  margin: 15px 15px 0px 0px;
}
#account_order_myacount_area .pagination span {
  border: 1px solid rgb(235, 90, 90);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 35px;
  color: rgb(223, 28, 28);
}
#account_order_myacount_area .pagination span:hover {
  background-color: rgb(255, 0, 0);
  color: white;
  cursor: pointer;
}
#account_order_myacount_area .date {
  text-align: center;
  font-size: 14px;
  color: gray;
}

/* #account_order_myacount_area .list-display{margin-top:-40px;} */

/* #account_order_myacount_area .tit{
    padding: 20px 15px;  display: flex; align-items: baseline;
    margin: 15px 0px;
} */
#account_order_myacount_area .tit h3 {
  font-weight: bold;
  font-size: 14px;
  padding: 0px 14px;
}

#account_order_myacount_area .bord-b {
  border-bottom: 1px solid #9a9a9a;
  margin: 0px;
}
#account_order_myacount_area .item-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #9a9a9a;
}
#account_order_myacount_area .item-display .icon_question2 h3 {
  font-size: 14px;
  font-weight: 500;
}
#account_order_myacount_area .item-display .icon_question2 p {
  font-size: 14px;
  padding: 5px 0px;
  color: #545454;
}

#account_order_myacount_area .cart_privacy p {
  font-size: 12px !important;
}
#footer_fix #copyright {
  font-size: 12px;
}

#account_order_myacount_area .card_container .ignore .checkmark-container {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px 0px auto;
}

#account_order_myacount_area .card_container .ignore .checkmark {
  font-size: 14px;
  color: #ffffff;
}

#account_order_myacount_area .sec01 #breadcrumb_area {
  padding: 12px 12px;
}
#account_order_myacount_area .sec01 #breadcrumb_area ul li {
  font-size: 14px;
}
